@model IEnumerable<OnlineShopping.Models.Products>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container-fluid">
    <!--BreadCrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Admin")">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            @ViewBag.Title
            <a class="btn btn-primary float-right" href="@Url.Action("Create", "Products")" role="button">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Is Active</th>
                            <th>Is Featured</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <img src="/Images/Products/@item.ImageUrl" height="100" />
                                    </td>
                                    <td>@item.Title</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Description</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                    <td class="font-weight-bold">
                                        @if (item.IsActive)
                                        {
                                            <span class="text-success">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">No</span>
                                        }
                                    </td>
                                    <td class="font-weight-bold">
                                        @if (item.IsFeatured)
                                        {
                                            <span class="text-success">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">No</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <a href="@Url.Action("Edit", "Products", new { ID = item.ID })" class="btn btn-sm btn-info">Edit</a>
                                            </div>
                                            <div class="col">
                                                <button data-redirect="@Url.Action("Delete", "Products", new { ID = item.ID })" class="btn btn-sm btn-danger DeleteThis">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
